/build
.settings/com.appcelerator.titanium.mobile.prefs
.settings/org.eclipse.core.resources.prefs
.settings/com.appcelerator.titanium.core.prefs

.settings/com.appcelerator.titanium.android.core.prefs

.settings/com.appcelerator.titanium.android.core.prefs

.settings/com.appcelerator.titanium.ios.core.prefs

Releases/Android/UTM.apk

.settings/com.appcelerator.titanium.android.core.prefs

.settings/com.appcelerator.titanium.ios.core.prefs
